:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
.align{
    max-width: 1110px;
    margin: auto;
}
@mixin flex-dircol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: inter-bold;
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: inter-exbold;
    src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: inter-regular;
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}
*{
    box-sizing: border-box;
    font-family: inter-regular;
}
html{
    font-size: 16px;
}
body{
    margin: 0;
    margin-bottom: 3.5rem;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1{
    font-family: inter-exbold;
    line-height: 105%;
    font-size: clamp(2.2rem, 1.5282rem + 2.6873vw, 3.5rem);
    margin: 0;
}
h3{
    font-size: 2rem;
    font-family: inter-exbold;
}
h5{
    font-family: inter-exbold;
    line-height: 105%;
    font-size: .9rem;
}
a{
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}
p{
    font-size: 15px;
}
button{
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 5.1rem 0 3.18rem 0;
    padding: clamp(1.6rem, -1.8743rem + 4.3429vw, 3.5rem) 0;
    menu{
        a{
            padding: 0 .5rem;
            margin: 0 .5rem;
            transition: color .3s ease-out;
        }
        a:hover{
            color: var(--Soft-orange);
        }
        a:last-child{
            padding-right: 0;
            margin-right: 0;
        }
    }
}
#mobile{
    display: none;
    position: relative;
}
main{
    $row-gap: 3rem;
    $col-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: $row-gap $col-gap;
    .main-hero{
        grid-area: 1/1/3/3;
        img{
            width: 100%;
        }
        header{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: $row-gap $col-gap;
            padding: 1rem 0 0 0;
            .main-hero__content{
                @include flex-dircol;
                p{
                    line-height: 168%;
                }
                max-width: 500px;
                .cta-readmore{
                    border: 0;
                    font-family: inter-bold;
                    color: var(--Very-dark-blue);
                    background: var(--Soft-red);
                    padding: 1rem 2rem;
                    cursor: pointer;
                }
            }
        }
    }

    aside.main-new{
        grid-area: 1/3/3/3;
        background: var(--Very-dark-blue);
        padding: 1rem 1.2rem;
        width: 100%;
        h2{
            color: var(--Soft-orange);
        }
        article{
            padding: 1rem 0;
            
            h4{
                color: var(--Off-white);
                padding-bottom: 1rem;
                transition: color .3s ease-out;
            }
            h4:hover{
                color: var(--Soft-orange);
            }
            p{
                color: var(--Grayish-blue);
                line-height: 165%;
            }
        }
    }

    .main-news{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: 3/1/4/4;
        gap: $row-gap $col-gap;
        width: 100%;
        .news{
            display: flex;
            img{
                height: 125px;
                margin-right: 1rem;
            }
            article{
                @include flex-dircol;
                h3{
                    color: var(--Soft-red);
                }
                h5{
                    color: var(--Very-dark-blue);
                }
                h5:hover{
                    color: var(--Soft-red);
                }
            }
        }
        .n-1{
            grid-area: 1/1/2/2;
        }
        .n-2{
            grid-area: 1/2/2/3;
        }
        .n-3{
            grid-area: 1/3/2/4;
        }
    }
}

@media only screen and (max-width: calc(1110px + 4rem)) {
    nav{
        padding: 2.5rem 2rem;
    }
    main{
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        @include  flex-dircol;
        padding: 0 2rem;
        & .main-hero > header, & > .main-news{
            @include  flex-dircol;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // align-items: flex-start;
        }
    }
    .main-hero__content p{
        padding-bottom: 2rem;
    }
    #mobile{
        display: flex;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        right: 0;
        top: 0.5rem;
        transform: translateY(0%);
        width: 40vw;
        background: #fff;
        box-shadow: #2c2c2c -5px 5px 15px;
        padding: 2rem;
        a{
            padding: 0.5rem;
        }
    }
    .content.close{
        display: none;
    }
    #desktop{
        display: none;
    }
}

